// main colors

$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.8);

// media query for Grid SYstem defining
$xs: '(max-width: 575.98px)';
$sm-min: '(min-width: 576px)';
$sm-max: '(max-width: 767.98px)';
$md-min: '(min-width: 768px)';
$md-max: '(max-width: 991.98px)';
$lg-min: '(min-width: 992px)';
$lg-max: '(max-width: 1199.98px)';
$xl: '(min-width: 1200px) ';
